body{
    text-align: center;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}
h1{
    font-style: normal;
    font-size: 5rem;
    color: #ff8f2d;
    text-shadow: 5px 5px 6px black;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    color: aliceblue;
    margin: 5%;
}

.set{
    margin: 10%;
}

.drum{
    background-color:#EEA47F;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    text-shadow: 3px 3px 3px black;
    font-size: 3rem;
    line-height: 2;
    display: inline-block; 
    margin-left: 3px; 
    margin-right: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.drum:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.drum:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #000000;
  transform: translateY(3px);
}

